<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">About copy</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @abouts.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>DESCRIPTION</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @abouts.each do |a| %>
							<tr class="tableRow">
								<td width="97%"><%= truncate(a.description, :length => 120) %></td>
								<td width="2%" class="topperButtons"><%= link_to "edit", edit_about_path(a), :class => "btn btn2" %></td>
								<td width="1%" class="topperButtons"><%= button_to "X", a, :method => :delete, :class => "btn btn3 delete_post", :remote => true %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO ABOUT COPY YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<% if @abouts.count < 1 %>
		<h6>
			<input type="hidden" value="works" class="modal-model-type">
		<h6><%= link_to 'Add about copy', new_about_path, :class => "darkButton2" %></h6>
	<% end %>
</div>