<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-4 col-sm-offset-4 topper">

	<h1 class="formHeader">Edit your content below</h1>
	<hr class="projectSeparator" />
	
</div>



