<div class="rightHandSection2">
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll2">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="row padder3">
					<div class="col-xs-12">
						<h2>
							Our passion is diverse, authentic music - our expertise is in applying it to picture.
						</h2><br/>
						<div class="justify">
							<ul>
								<li>We formed Fairsplit Music in 2014 to discover &amp; work closely with today’s best new bands, composers &amp; producers, to nurture and finance their trajectory in a complex industry.</li>
								<li>We reject the illusory importance of quantity, everything we sign is majestic in quality.</li>
								<li>We are a 21st century boutique music catalogue offering a personal 1-to-1 sync service to our colleagues at agencies, production companies and supervision houses worldwide.</li>
								<li>Music to picture is about inspiration, impact and emotion.
						The impact of the right music cue on the right image will always be larger than the sum of its parts.</li>
								<br/><li><i>Pete &amp; Vik<br/>
						Fairsplit Music - <%= Date.today.strftime("%B") %> <%= Time.now.year %></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>