<% @artists.each do |a| %>
	<div class="element video artists">
		<div class="images"> <img src="<%= a.image %>" alt="" />
	    	<section class="hidden-infos">
		 		<input type="hidden" value=<%= a.id %> class="modal-object-id">
				<a href="#filter=.artist_information" class="artistClick" title="" data-src="<%= a.id %>"></a>
	          	<div class="overlay3"></div>
	          	<div class="icons profile"></div>
	        </section>
	        <div class="vidTitle">
	        	<div class="title-wrap">
	            	<h3><%= a.name %></h3>
	          	</div>
	        </div>
	    </div>
	</div>
<% end %>						