<div class="rightHandSection2">
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll2">
		<div id="map_canvas">here</div>
		<div class="col-md-8">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11">
			<h1 class="padder2">Fairsplit Music  |  London</h1>
			<div class="row padder">
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-2 right">
					<i class="fa fa-location-arrow"></i>
				</div>
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-8">
					<h4>
						Village Underground,<br/>
						54 Hollywell Lane,<br/>
						London, EC2A 3PQ
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-2 right">
					<i class="fa fa-envelope-o"></i>
				</div>
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-8">
					<h4>
						<br/>
							info@fairsplitmusic.com
						<br/>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-2 right">
					<i class="fa fa-soundcloud"></i>
				</div>
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-8">
					<h4>
						<br/>
							<a class="noShow" href="https://soundcloud.com/fairsplit-music" target="_blank">
								fairsplit-music
							</a>
						<br/>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-2 right">
					<i class="fa fa-twitter"></i>
				</div>
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-8">
					<h4>
						<br/>
							<a class="noShow" href="https://twitter.com/FairsplitMusic" target="_blank">
								FairsplitMusic
							</a>
						<br/>
					</h4>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>