<div class="rightHandSection2">
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll2">
		<div id="map_canvas" style="display:none;">here</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<div class="row padder">
					<div class="col-xs-12">
						<h4>
							Village Underground,<br/>
							54 Hollywell Lane,<br/>
							London, EC2A 3PQ
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h4>
							<br/>
								info@fairsplitmusic.com
							<br/>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>