<div class="rightHandSection">
	<div class="sectionHeader">
		<div class="title">Fairsplit Music</div>
	</div>
	<hr class="afterTitle"/>
	
	<div class="canScroll">
	
		<div class="sectionSubHeader">
			<table>
				<tr>
					<td width="94%">
						<div class="subTitle">New work: Sprite (Worldwide)</div>
					</td>
					</td>	
					<td width="5%">
						<img class="socialPic" src="../assets/twitter.png" alt="Twitter">
					</td>
					<td width="5%">
						<img class="socialPic" src="../assets/facebook.png" alt="Facebook">
					</td>
				</tr>
			</table>
		</div>
		<hr class="afterSubtitle" />
		<div class="mainContent">
			<div class="newsStory">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
				ad minim veniam, quis nostrud</p>
				<div class="more">more...</div>
				<div class="newsStoryImage"><%= image_tag('home/homeImg1.jpg') %></div>
			</div>
		</div>
		
		<div class="sectionSubHeader">
			<table>
				<tr>
					<td width="94%">
						<div class="subTitle">New signing: Mondkopf</div>
					</td>	
					<td width="5%">
						<img class="socialPic" src="../assets/twitter.png" alt="Twitter">
					</td>
					<td width="5%">
						<img class="socialPic" src="../assets/facebook.png" alt="Facebook">
					</td>
				</tr>
			</table>
		</div>
		<hr class="afterSubtitle" />
		<div class="mainContent">
			<div class="newsStory">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
				ad minim veniam, quis nostrud</p>
				<div class="more">more...</div>
				<div class="newsStoryImage"><%= image_tag('home/homeImg2.jpg') %></div>
			</div>
		</div>
		
		<!--<div class="video">
          <div class="images"><img src="assets/premier.png" alt="" />
            <section class="hidden-infos"> <a href="http://player.vimeo.com/video/96887218?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup" title=""></a>
              <div class="overlay"></div>
              <div class="icons video"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Premier "Your Personal Economy"</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>HSBC</p>
              </div>
            </div>
          </div>
        </div>-->
		<div id="backtotop">
		  <ul>
		    <li><a id="toTop" class="bounce" href="#" onClick="return false">Back to Top</a></li>
		  </ul>
		</div>
		<br class="clear" />
		
	</div>
</div>