<div class="rightHandSection">
	<div class="sectionHeader">
		<div class="title">Fairsplit Music</div>
	</div>
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll" id="announcements">
		<%= render @announcements %>
	</div>
	<%#= will_paginate @announcements, :page_links => false %>
	<!--<div id="backtotop">
	  <ul>
	    <li><a id="toTop" class="bounce" href="#" onClick="return false">Back to Top</a></li>
	  </ul>
	</div>
	<br class="clear" />-->
</div>