<div class="rightHandSection2">
	<div class="images bottom">
		<%= image_tag(@home.image) %>
       	<div class="vidTitle">
       		<div class="title-wrap2" >
           		<h3 style="display:none;" class="homeTitle">LATEST NEWS</h3>
         	</div>
       	</div>
	</div>
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll" id="announcements">
		<%= render @announcements %>
	</div>
	<%#= will_paginate @announcements, :page_links => false %>
	<!--<div id="backtotop">
	  <ul>
	    <li><a id="toTop" class="bounce" href="#" onClick="return false">Back to Top</a></li>
	  </ul>
	</div>
	<br class="clear" />-->
</div>