<div class="col-md-6 leftSide">
	<%= image_tag('logo.png', :class => "logo") %>
	<ul class="navigation">
		<li class="navButton"><a href="#filter=.work">Our Work</a></li>
		<li class="navButton"><a href="#filter=.artists">Artists</a></li>
		<li class="navButton"><a href="#filter=.manifesto">Manifesto</a></li>
		<li class="navButton"><a href="#filter=.news">News</a></li>
		<li class="navButton"><a href="#filter=.contact">Contact</a></li>
	</ul>
</div>
<div class="col-md-6 rightSide">
	<div class="work">This is the work text</div>
	<div class="artists">This is the artists text</div>
	<div class="manifesto">This is the manifesto text</div>
	<div class="news">This is the news text</div>
	<div class="contact">This is the contact text</div>
</div>