<div id="wrap">
	<div class="col-md-6 leftSide">
		<div id="options" class="clearfix">
			<a href="#filter=.home"><%= image_tag('logo.png', :class => "logo") %></a>
			<ul class="navigation option-set clearfix" data-option-key="filter" id="filters">
				<li class="navButton"><a href="#filter=.work">Our Work</a></li>
				<li class="navButton"><a href="#filter=.artists">Artists</a></li>
				<li class="navButton"><a href="#filter=.manifesto">Manifesto</a></li>
				<li class="navButton"><a href="#filter=.news">News</a></li>
				<li class="navButton"><a href="#filter=.contact">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-6 rightSide">
		<div id="content">
			<div class="container">
	    		<div id="container" class="clearfix">
					<div class="element clearfix work">WORK!</div>
					<div class="element clearfix artists">ARTISTS!</div>
					<div class="element clearfix manifesto">MANIFESTO!</div>
					<div class="element clearfix news home">NEWS!</div>
					<div class="element clearfix contact">CONTACT!</div>
				</div>
			</div>
		</div>
	</div>
</div>