.logo2 {width:250px;margin:2% auto 0% auto;}
.logo2 img {max-width:100%;}
.topper {padding-top:60px!important;}
.formHeader {color:#d3d3d3;font-family:'Raleway';text-transform:uppercase;font-size:28px;letter-spacing:2px;text-align:center;}
.formLabel {color:#d3d3d3;font-family:'Raleway';text-transform:uppercase;font-size:14px;letter-spacing:2px;}
.formField {color:#d3d3d3!important;margin-bottom:15px;width:100%;height:35px!important;background-color:#202326;border:1px solid #202326;-moz-border-radius: 3px;border-radius: 3px;}
.formArea {color:#d3d3d3!important;margin-bottom:15px;width:100%;height:150px!important;background-color:#202326;border:1px solid #202326;-moz-border-radius: 3px;border-radius: 3px;}
.btn {text-transform:uppercase;font-weight:700;background-color:#668B8B;color:#d3d3d3;margin-top:10px;}
.btn:active {background-color:#668B8B;color:#d3d3d3;}
.formMessage {color:#919191;}
.signIn {text-transform:uppercase;margin:0px 10px;}
.userInfo {width:270px;margin:-120px auto 0px auto;padding-left:17px;font-size:14px;color:#ffffff;font-style:italic;}

a:hover {
	text-decoration:none;
}
.cmsWrapper, .cmsWrapper2 {
	margin:20px 0px 0px 0px;
	padding:40px;
	float:left;
	clear:both;
	width:100%;
	background-color:#f5f5f5;
	border:2px solid;
	border-radius:15px;
}
.cmsWrapper2{margin-bottom:50px;}
.releases {float:left;clear:both;text-align:left;width:100%;margin:-25px 0px 0px 0px;}
.divHeader {font-color:#000000;font-family:"Open Sans", helvetica, sans-serif;font-size:1.2em;text-transform:uppercase;letter-spacing:0.10em;font-weight:400;margin:20px 0px 24px 0px;border-bottom:1px solid black;padding:0px 0px 8px 0px;}
.tableWrapper {
    width: 100%;
    background: rgba(32, 35, 38, .8);
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tableContent {padding:20px 20px;}
.tableHeader {height:45px;font-family:"futura", "Lato";color:#f5f5f5;letter-spacing:1px;}
.ruler {position:absolute;width:86.2%;margin-top:22px;}
.tableRow {font-family:helvetica, sans-serif;height:20px;color:#f5f5f5;font-weight:600;}
.empty {font-family:"futura", "Lato";font-weight:400;}
.tableRow img {max-width:15px;margin-top:-3px;}
.darkButton2, .darkButton3, .button2 {
	float:left;clear:both;
	margin:15px 0px -5px 0px;
	padding:1% 1%;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 400;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #fff!important;
	background:#202326; 
}
.darkButton3 {display:inline;color:#ffffff;width:25%;margin:0 37.5%;}
.darkButton3:hover, .darkButton2:hover { background: rgba(100, 109, 118, .8); filter: alpha(opacity=80); }
.deviseError {color:#ff0000;}
.button2 {
	letter-spacing:0.1em;
	position:absolute;
	padding: 9px 23px;
	right:25px;
	top:440px;
	width:200px;
	height:40px;
	background: rgba(100, 109, 118, 1);
	font-family:"Open Sans", sans-serif;
	border: none!important;
}
.button2:hover { background: rgba(100, 109, 118, .8); filter: alpha(opacity=100); }

h1.modalFormTitle {font-family:"Lato";font-size:24px;color:#202326!important;margin:30px 10% 20px 10%;padding-bottom:10px;letter-spacing:1px;width:80%;border-bottom:1px dotted #202326;}
h3.modalFormUpdated {font-family:"helvetica", helvetica, sans-serif;font-size:18px;color:#858585!important;margin:30px 10% 0px 10%;text-transform:lowercase;letter-spacing:0px;}


#form-content {
	min-height:300px;
}
.modalFormFieldsWrapper {width:80%;border:1px solid #202326;moz-border-radius:5px;webkit-border-radius:5px;border-radius:5px;margin:50px 10% 25px 10%;padding:20px 0px;}

.modalText-area, .modalText-areaArea {
    border: none;
    outline: none;
    padding: 10px;
    margin-top:5px;
    width: 70%;
    height: 35px;
    background: #202326;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
}

.modalText-areaArea {height:300px;}


.modalFormText {
	font-size:20px;
	width:20%;
	margin:0% 40% 2% 40%;
	border-bottom:1px dotted #202326;
	padding-bottom:5px;
}
.modalSubmitForm{margin:0px 0px 25px 0px;}
.removeMe {display:none;}
.description {text-align:justify;}
