.descriptionSize1, .descriptionSize1 i {font-size:15px!important;}
.titleSize1 {font-size:20px!important;text-transform:uppercase!important;}
.upcase {text-transform:uppercase!important;}
.italics {font-style:italic!important;}
