.descriptionSize1, .descriptionSize1 i, .descriptionSize1 h3 {font-size:15px!important;font-style:none!important;font-weight:normal!important;}
.titleSize1 {font-size:16px!important;text-transform:uppercase!important;}
li.navButton {font-size:14px!important;text-transform:uppercase!important;font-style:none!important;font-weight:normal!important;}
.upcase {text-transform:uppercase!important;font-style:none!important;}
.italics {font-style:italic!important;}
.subtitle i {font-size:15px!important;}
