#masonry-container {
  background:#000000;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  clear: both;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

#container {
	background:#000!important;padding:0!important;
}

.box, .masonry-brick, .col4 {margin:0px!important;border-radius:0px!important;padding:0!important;background:#000!important;font-size:0px!important;line-height:0px!important;}
.col4 {width:33.33%!important;}
.col4 img {max-width:100%!important;}

@media only screen and (max-width: 1318px) {
	.col4 {width:33.3333333333%!important;}
}

@media only screen and (max-width: 991px) {
	.col4 {width:33.33333333%!important;}
}

@media only screen and (max-width: 672px) {
	.col4 {width:50%!important;}
}

@media only screen and (max-width: 420px) {
	.col4 {width:100%!important;}
}