html {background-color:#000000;}

body {
	overflow: hidden;
}

a {
  color:#ffffff!important;
  text-decoration:none!important;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../assets/status2.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/* MAIN */

.background {background-color:#fff000;}
.background2 {background-color:#ff0000;}
.leftSide {width:100%;margin-top:240px;}
.logo {margin:0 auto;}
.logo img {margin:0 auto;}
ul.navigation {list-style-type: none;}
.navigationWrapper {margin:0px 0 0 0!important;}
.navigation a {text-transform:uppercase;font-size:1.1em!important;}
li.navButton {margin:8px 0px 8px 0px!important;}
.rightSide {margin:240px auto 0 auto;font-size:4em;color:#ffffff;}