html {background-color:#000000!important;}

body {
	overflow: hidden;
	background-color:#000000!important;
}

a {
  color:#ffffff!important;
  text-decoration:none!important;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../assets/status2.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/* MAIN */


.slicknav_menu {
	display:none;
}

.col-md-6 {height:96%;margin:2% 0%;}
.leftSide, .rightSide {background-color:#000000;}
.background {background-color:#fff000;}
.background2 {background-color:#ff0000;}
.leftSide {width:100%;padding-top:200px;}
.logo {width:250px;margin:0 auto;}
.logo img {margin:0 auto;}
ul.navigation {list-style-type: none;}
.navigationWrapper {width:250px;margin:40px auto!important;}
.navigation a, .client {text-transform:uppercase;font-size:1.1em!important;color:#ffffff;}
li.navButton {margin:8px 0px 8px 0px!important;}
.social {position:absolute;margin:0px 0px 0px 0px;padding:239px 0px 0px 34px;}
.socialbuttons {
	display:inline;
	margin:0px 2px;
}
.mail img{
	margin-left:2px;
}
.client {position:absolute;margin:240px 0px 0px 80%;}

.divider{
    position:absolute;
    left:50%;
    top:5%;
    bottom:5%;
    border-left:1px solid #3e3e3e;
}

.rightSide {width:100%;padding-top:240px;margin:0 auto 0 auto;font-size:4em;color:#ffffff;}
.container {width:100%;}

@media screen and (max-width: 992px) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	.leftSide {padding-top:20px;}
	.divider {display:none;}
	.social, .client {display:none;}
}