{<div id="">
	<div class="projectInfo">
		<h1 class="projectName">{{client}} "{{title}}"</h1>
		<h3 class="projectSubtitle"{{type_of_work}}</h3>
		<h3 class="projectSubtitle"><em>MUSIC - </em>{{artist_name}}: {{track_name}}</h3>
		<hr class="projectSeparator" />
		<p class="projectDetail">{{description}}</p>
	</div>
</div>}