<div class="col-md-6">
	<div class="leftSide">
		<div class="logo"><a href="#filter=.home"><%= image_tag('logo.png') %></a></div>
		<div class="navigationWrapper">
			<ul id="menu" class="navigation option-set clearfix" data-option-key="filter" id="filters">
				<li class="navButton"><a href="#filter=.work">Our Work</a></li>
				<li class="navButton"><a href="#filter=.artists">Artists</a></li>
				<li class="navButton"><a href="#filter=.listen">Listen</a></li>
				<li class="navButton"><a href="#filter=.manifesto">Manifesto</a></li>
				<li class="navButton"><a href="#filter=.contact">Contact</a></li>
			</ul>
		</div>
		<div class="social">
			<div class="socialbuttons">
				<a href="https://www.facebook.com/pages/Fairsplit-Music/609198105854352" target="_blank"><img src="../assets/facebook.png" alt="Facebook"></a>
			</div>
			<div class="socialbuttons">
				<a href="https://twitter.com/FairsplitMusic" target="_blank"><img src="../assets/twitter.png" alt="Twitter"></a>
			</div>
			<div class="socialbuttons mail">
				<a href="mailto:licencing@fairsplitmusic.com?Subject=Hello%20from%20the%20holding%20page" target="_blank">
					<img src="../assets/email.png" alt="Email">
				</a>
			</div>
		</div>
		<div class="client"><a href="#filter=.client_login">Client Login</a></div>
	</div>
</div>