<!DOCTYPE html>
<html lang="en">
  <title>V1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Preloader -->
	<div id="preloader">
	    <div id="status">&nbsp;</div>
	</div>
		
	<%= yield %>

</body>
</html>
